In [1]:
import os
os.chdir('..')

In [2]:
from src.data_io import YahooFinance
from src.stationary_block_bootstrap import *

In [3]:
params = {
    'symbol': 'SPY',
    'start_date': '2000-01-01',
    'end_date': '2025-12-31'
}
yahoo = YahooFinance(**params)
df = yahoo.pipeline()
df.head(5)

[*********************100%***********************]  1 of 1 completed

                price  log_return
date
2000-01-03  91.617073         NaN
2000-01-04  88.034264   -0.039892
2000-01-05  88.191750    0.001787
2000-01-06  86.774399   -0.016202
2000-01-07  91.813911    0.056452

In [4]:
data = df['log_return'].dropna().values
sbb_params = {
    'n_sims': 1000,
    't': len(data),
    'seed': 123
}

avg_block_size = OptimalBlockSize(data**2).optimal_stationary_block_size()
avg_block_size = int(np.ceil(avg_block_size))
sims = stationary_bootstrap(data, avg_block_size=avg_block_size, **sbb_params)

In [5]:
sims

array([[ 0.00113289,  0.03208808,  0.00219118, ..., -0.00260953,
         0.00932042, -0.00812367],
       [-0.00083319,  0.01561262,  0.00472725, ..., -0.01088889,
         0.01649829, -0.01777283],
       [-0.01544731,  0.00163071, -0.0186224 , ...,  0.00240517,
         0.00817946,  0.00201155],
       ...,
       [-0.00297469,  0.00419677, -0.00753176, ..., -0.00665656,
         0.        ,  0.00445733],
       [ 0.01459084,  0.01272812,  0.00698031, ..., -0.00039767,
        -0.0134765 ,  0.00725554],
       [ 0.00440294, -0.00986869, -0.00628423, ...,  0.01359853,
         0.00694526,  0.00163908]], shape=(1000, 6537))